---
title: "Face Verification System"
excerpt: "End-to-end face verification with CNNs"
collection: portfolio
no_detail_page: true
header:
  teaser: face.jpeg
links:
  - label: "GitHub"
    url: "https://github.com/loevlie/Face_Verification"
    icon: "fab fa-fw fa-github"
  - label: "PyTorch"
    icon: "fas fa-fw fa-code"
---
