---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;
/* Custom CSS for the news section */
.news {
  /* Default styles */
  max-height: 400px; /* Adjust as needed */
  overflow-y: auto;
}

/* On mobile devices, increase the height */
@media (max-width: 767.98px) {
  .news {
    max-height: 600px; /* Increase the height */
  }
}
